<div class="row">
	<form ng-submit="gravar()" class="control-form">
		<div class="form-group">
			<label for="nome">Nome</label>
			<input type="text" name="nome" class="form-control" ng-model="contato.nome" required/>
		</div>

		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" name="email" class="form-control" ng-model="contato.email" required/>
		</div>

		<div class="form-group">
			<label for="emergencia">Emergência</label>
			<select name="emergencia" id="emergencia" class="form-control"
				 ng-model="contato.emergencia"
				 ng-options="c._id as c.nome for c in contatos">
			</select>
		</div>

		<div class="form-group">
			<label for="telefone">Telefone</label>
			<input type="text" name="telefone" class="form-control" ng-model="telefone"/>
			<button type="button" ng-click="adicionarTelefone()">Adicionar</button>
		</div>

		<ul>
			<li ng-repeat="telefone in contato.telefones">{{telefone}} - <a href="" ng-click="removerTelefone(telefone)">Remover</a></li>
		</ul>

		

		<button class="btn btn-success">Gravar</button>
		<a href="#/" class="btn btn-warning">Voltar</a>

	</form>
</div>