<div class="row">
	<p><a href="#/contato" class="btn btn-info">Novo</a></p>
	<p><input type="text" class="form-control" ng-model="filtro" placeholder="Pesquisar" /></p>
	<table class="table table-hoover table-striped table-responsive">
		<tr class="text-center">
			<th>Nome</th>
			<th>Email</th>
			<th>Contato de emergência</th>
			<th>Ações</th>
		</tr>
		<tr ng-repeat="contato in contatos | filter : filtro ">
			<td><a href="#/contato/{{contato._id}}">{{contato.nome}}</a></td>
			<td>{{contato.email}}</td>
			<td>{{contato.emergencia.nome}}</td>
			<td class="text-center">
				<a ng-href="#/contato/{{contato._id}}" class="btn btn-primary">Editar</a>
				<a ng-click="remover(contato)" class="btn btn-danger">Remover</a>
			</td>
		</tr>
	</table>
</div>